sudo:  required
services:
  - docker

before_install:
  - docker build -t sahaja/docker-react-project -f Dockerfile.dev .

script:
  - docker run sahaja/docker-react-project npm run test -- --coverage